<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="Microsoft.Azure.Workflows.CertificateStoreLocation" value="CurrentUser" />
    <add key="Microsoft.Azure.Workflows.IsConnectionStringEncrypted" value="false" />

    <add key="Microsoft.WindowsAzure.Environment.IsAzureWebRole" value="false" />
    <add key="Microsoft.Azure.Workflows.IsEdgeEnvironment" value="true" />
    <add key="Microsoft.Azure.Workflows.EdgeEnvironment.EnvironmentName" value="myedgeenvironment" />
    <add key="Microsoft.Azure.Workflows.EdgeEnvironment.ResourceGroup" value="myedgeresourcegroup" />
    <add key="Microsoft.Azure.Workflows.EdgeEnvironment.LogLevel" value="Debug" />
    <add key="Microsoft.Azure.Workflows.EdgeEnvironment.ServiceName" value="Flow.Worker" />
    <add key="Microsoft.Azure.Workflows.EdgeEnvironment.ScaleMonitor.MetricsHistorySampleSize" value="5" />
    <add key="Microsoft.Azure.Workflows.EdgeEnvironment.ScaleMonitor.MaxPollingLatency" value="00:00:30" />
    <add key="Microsoft.Azure.Workflows.EdgeApiRuntimeUrl.FileSystem" value="http://filesystemconnector:80" />
    <add key="Microsoft.Azure.Workflows.EdgeApiRuntimeUrl.Sql" value="http://sqlconnector:80" />
    <add key="Microsoft.Azure.Workflows.CanUseLocalNotificationForResponseReady" value="true" />
    <add key="Microsoft.Azure.Workflows.JobCallback.Assemblies" value="Microsoft.Azure.Workflows.Worker.Common;Microsoft.Azure.Workflows.Worker.Edge;" />

    <add key="Microsoft.WindowsAzure.ResourceStack.JobResourceGovernance.WorkerPulsationsThrottling.EnabledForPulseRequests" value="false" />
    <add key="Microsoft.WindowsAzure.ResourceStack.JobResourceGovernance.WorkerPulsationsThrottling.EnabledForPollRequests" value="false" />

    <add key="Microsoft.WindowsAzure.ResourceStack.BackgroundJobs.RequestOptionsServerTimeout" value="00:00:30" />
    <add key="Microsoft.WindowsAzure.ResourceStack.BackgroundJobs.NumWorkersPerProcessorCount" value="4" />
    <add key="Microsoft.WindowsAzure.ResourceStack.BackgroundJobs.NumPartitionsInJobTriggersQueue" value="1" />
    <add key="Microsoft.WindowsAzure.ResourceStack.BackgroundJobs.NumPartitionsInJobDefinitionsTable" value="4" />
    <add key="Microsoft.WindowsAzure.ResourceStack.BackgroundJobs.WorkerMinimumSleepInterval" value="00:00:01" />
    <add key="Microsoft.WindowsAzure.ResourceStack.BackgroundJobs.WorkerMaximumSleepInterval" value="00:00:02" />
    <add key="Microsoft.WindowsAzure.ResourceStack.BackgroundJobs.JobDefinitionsTableName" value="flowtestjobdefinitions" />
    <add key="Microsoft.WindowsAzure.ResourceStack.BackgroundJobs.JobTriggersQueuePrefix" value="flowtestjobtriggers" />
    <add key="Microsoft.WindowsAzure.ResourceStack.SequencerJobs.DefaultSequencerTimeout" value="00:05:00" />
    <add key="Microsoft.WindowsAzure.ResourceStack.SequencerJobs.DefaultPostponeInterval" value="00:00:01" />

    <add key="Microsoft.Azure.Workflows.DataStorage.RequestOptionsServerTimeout" value="00:00:15" />
    <add key="Microsoft.Azure.Workflows.DataStorage.RequestOptionsMaximumExecutionTime" value="00:01:00" />

    <add key="Microsoft.Azure.Workflows.Frontend.FlowDirectApi.ConcurrentRequestsThreshold" value="1200"/>
    <add key="Microsoft.Azure.Workflows.Frontend.FlowDirectApi.ConcurrentRequestsCounterBucketSize" value="00:05:00"/>

    <add key="Microsoft.Azure.Workflows.FlowTriggerMaximumRecurrenceInterval" value="500.00:00:00"/>
    <add key="Microsoft.Azure.Workflows.FlowTriggerMaximumStartTimeYears" value="49"/>

    <add key="Microsoft.Azure.Workflows.SkuExtensions.DirectApiDownloadContentThrottleThresholdInKB.LowOverheadSku" value="3145728" />
    <add key="Microsoft.Azure.Workflows.SkuExtensions.DirectApiDownloadContentThrottleThresholdInKB.ConsumptionSku" value="3145728" />
    <add key="Microsoft.Azure.Workflows.SkuExtensions.DirectApiDownloadContentThrottleThresholdInKB.HighThroughputSku" value="3145728" />
    <add key="Microsoft.Azure.Workflows.SkuExtensions.DirectApiUploadContentThrottleThresholdInKB.LowOverheadSku" value="3145728" />
    <add key="Microsoft.Azure.Workflows.SkuExtensions.DirectApiUploadContentThrottleThresholdInKB.ConsumptionSku" value="3145728" />
    <add key="Microsoft.Azure.Workflows.SkuExtensions.DirectApiUploadContentThrottleThresholdInKB.HighThroughputSku" value="3145728" />

    <add key="Microsoft.Azure.Workflows.SkuExtensions.TriggerMinimumRecurrenceInterval.LowOverheadSku" value="00:00:15"/>
    <add key="Microsoft.Azure.Workflows.SkuExtensions.TriggerMinimumRecurrenceInterval.ConsumptionSku" value="00:00:01"/>

    <add key="Microsoft.Azure.Workflows.SkuExtensions.FlowDefaultSplitOnItemsLimit.LowOverheadSku" value="5000" />
    <add key="Microsoft.Azure.Workflows.SkuExtensions.FlowDefaultSplitOnItemsLimit.ConsumptionSku" value="100000" />
    <add key="Microsoft.Azure.Workflows.SkuExtensions.FlowDefaultForeachItemsLimit.LowOverheadSku" value="5000" />
    <add key="Microsoft.Azure.Workflows.SkuExtensions.FlowDefaultForeachItemsLimit.ConsumptionSku" value="100000" />
    <add key="Microsoft.Azure.Workflows.SkuExtensions.ForeachDefaultDegreeOfParallelism.LowOverheadSku" value="1" />
    <add key="Microsoft.Azure.Workflows.SkuExtensions.ForeachDefaultDegreeOfParallelism.ConsumptionSku" value="20" />

    <add key="Microsoft.Azure.Workflows.FlowTriggerSplitOnJob.RunSequenceIdPerItemEnabled" value="true" />

    <add key="Microsoft.Azure.Workflows.Backend.Operation.MinimumRetryInterval" value="00:00:01" />
    <add key="Microsoft.Azure.Workflows.SkuExtensions.FlowRetentionThreshold.LowOverheadSku" value="30.00:00:00" />
    <add key="Microsoft.Azure.Workflows.SkuExtensions.FlowRetentionThreshold.ConsumptionSku" value="90.00:00:00" />
    <add key="Microsoft.Azure.Workflows.SkuExtensions.OperationMinimumPostponeInterval.LowOverheadSku" value="00:00:01"/>
    <add key="Microsoft.Azure.Workflows.SkuExtensions.OperationMinimumPostponeInterval.ConsumptionSku" value="00:00:01"/>
    <add key="Microsoft.Azure.Workflows.SkuExtensions.OperationMinimumPostponeInterval.HighThroughputSku" value="00:00:01"/>

    <add key="Microsoft.Azure.Workflows.SkuExtensions.RegionalEnabledFlowQuota.HighCapacitySku" value="2000" />
    <add key="Microsoft.Azure.Workflows.SkuExtensions.RegionalEnabledFlowQuota.ConsumptionSku" value="1000" />

    <add key="Microsoft.Azure.Workflows.Backend.HttpOperation.DefaultRetryCount" value="0" />
    <add key="Microsoft.Azure.Workflows.Backend.ApiAppOperation.DefaultRetryCount" value="0" />
    <add key="Microsoft.Azure.Workflows.Backend.ApiConnectionOperation.DefaultRetryCount" value="0" />
    <add key="Microsoft.Azure.Workflows.Backend.FlowOperation.DefaultRetryCount" value="0" />

    <add key="Microsoft.Azure.Workflows.Backend.BindingActionOperation.DefaultRetryCount" value="0" />

    <add key="RedisCache.Workflows.RegionalCache.ConnectionString" value="" />

    <add key="Microsoft.Azure.Workflows.FlowNotificationProvider.PreferLocalJobNotificationChannels" value="true" />

    <add key="Microsoft.Azure.Workflows.Frontend.FlowRunStart.ThrottleOverflowCapacityPercentage" value="50" />

    <add key="Microsoft.Azure.Workflows.Frontend.SynchronousTrigger.ResponseWaitTimeout" value="" />
    <add key="Microsoft.Azure.Workflows.Frontend.SynchronousTrigger.ResponseMinimumProbeInterval" value="" />
    <add key="Microsoft.Azure.Workflows.Frontend.SynchronousTrigger.ResponseMaximumProbeInterval" value="" />
    <add key="Microsoft.Azure.Workflows.Frontend.SynchronousTrigger.ResponseProbeSkewPercentage" value="" />
    <add key="Microsoft.Azure.Workflows.Frontend.SynchronousTrigger.ResponseStatusUpdateRetryCount" value="" />

    <add key="Microsoft.Azure.Workflows.Backend.RegionalRequestPipelineEnabled" value="false" />
    <add key="Microsoft.Azure.Workflows.Backend.HttpEngine.Common.RestrictedSubnets" value="" />
    <add key="Microsoft.Azure.Workflows.Backend.HttpEngine.Environment.RestrictedSubnets" value="" />

    <add key="Microsoft.Azure.Workflows.FlowRegionalEndpointUri" value="http://localhost:9900"/>
    <add key="Microsoft.Azure.Workflows.FlowApiVersion" value="2015-02-01-preview"/>

    <add key="Microsoft.Azure.Workflows.Frontend.AllowedHostnames" value="localhost" />
    <add key="Microsoft.Azure.Workflows.Frontend.AllowedApiVersions" value="2019-10-01-edge-preview" />
    <add key="Microsoft.Azure.Workflows.Frontend.AllowedSasVersions" value="1.0" />
    <add key="Microsoft.Azure.Workflows.Frontend.AsyncOperationRetryAfterInterval" value="00:00:01"/>

    <add key="Microsoft.Azure.Workflows.ActiveDirectoryTokenProvider.ServicePrincipalApplicationId" value="7cd684f4-8a78-49b0-91ec-6a35d38739ba" />
    <add key="Microsoft.Azure.Workflows.ActiveDirectoryTokenProvider.ServicePrincipalCertificateThumbprint" value="1BA1E048E8675F30B615C21B2905BB9E87FA6C71" />
    <add key="Microsoft.Azure.Workflows.ActiveDirectoryTokenProvider.AuthenticationLoginTemplate" value="http://localhost:401/" />
    <add key="Microsoft.Azure.Workflows.ActiveDirectoryTokenProvider.AuthenticationAudience" value="https://management.core.windows.net/" />

    <add key="Microsoft.Azure.Workflows.ServiceClient.CertificateThumbprint" value="1BA1E048E8675F30B615C21B2905BB9E87FA6C71" />

    <add key="Microsoft.Azure.Workflows.ShouldUseDistributedCache" value="false" />
    <add key="Microsoft.Azure.Workflows.ShouldUseRedisNotificationChannel" value="false" />

    <add key="Microsoft.Azure.Workflows.AzureResourceDataProvider.ManagementEndpoint" value="http://localhost:111/"/>

    <add key="Microsoft.Azure.Workflows.AzureResourceDataProvider.Microsoft.Web.RequestTimeout" value="00:00:05"/>
    <add key="Microsoft.Azure.Workflows.AzureResourceDataProvider.Microsoft.Web.RequestRetryCount" value="0"/>

    <add key="Microsoft.Azure.Workflows.ApiHubDataProvider.ApiVersion" value="2015-11-01-rc"/>
    <add key="Microsoft.Azure.Workflows.ApiHubDataProvider.BaseAddressFormat" value="http://localhost:113" />
    <add key="Microsoft.Azure.Workflows.ApiHubDataProvider.RequestTimeout" value="00:00:05"/>
    <add key="Microsoft.Azure.Workflows.ApiHubDataProvider.RequestRetryCount" value="0"/>

    <add key="Microsoft.Azure.Workflows.SharedApiHub.TenantId" value="83abe5cd-bcc3-441a-bd86-e6a75360cecc"/>
    <add key="Microsoft.Azure.Workflows.SharedApiHub.SubscriptionId" value="a8e409b1-d8c9-428e-8e9d-3a36c2024c38"/>
    <add key="Microsoft.Azure.Workflows.SharedApiHub.ResourceGroup" value="tip1"/>
    <add key="Microsoft.Azure.Workflows.SharedApiHub.ApiHubRPHostName" value="tip1-shared"/>
    <add key="Microsoft.Azure.Workflows.SharedApiHub.ApiManagementAccount" value="tip1-shared"/>
    <add key="Flow.SharedApiHub.IntegrationServiceEnvironment.Catalog.ApiManagementAccount" value="logic-apis-ise-catalog-tip1" />
    <add key="Microsoft.Azure.Workflows.SharedApiHub.FlowServicePrincipalOid" value="9e2f9dc7-abae-4606-8211-7bc0a91eaaf1"/>
    <add key="Microsoft.Azure.Workflows.SharedApiHub.RuntimeUrl" value="http://localhost:112"/>

    <add key="Microsoft.Azure.Workflows.WsdlDataProvider.Endpoint" value="http://localhost:178/"/>
    <add key="Microsoft.Azure.Workflows.InlineCodeDataProvider.JavaScript.Endpoint" value="http://localhost:179/" />

    <add key="Microsoft.Azure.Workflows.SkuExtensions.ApiBurstReadThrottleThreshold.LowOverheadSku" value="25000" />
    <add key="Microsoft.Azure.Workflows.SkuExtensions.ApiBurstReadThrottleThreshold.ConsumptionSku" value="25000" />
    <add key="Microsoft.Azure.Workflows.SkuExtensions.ApiBurstReadThrottleThreshold.HighThroughputSku" value="25000" />

    <add key="Microsoft.Azure.Workflows.SkuExtensions.ApiBurstWriteThrottleThreshold.LowOverheadSku" value="5000" />
    <add key="Microsoft.Azure.Workflows.SkuExtensions.ApiBurstWriteThrottleThreshold.ConsumptionSku" value="5000" />
    <add key="Microsoft.Azure.Workflows.SkuExtensions.ApiBurstWriteThrottleThreshold.HighThroughputSku" value="5000" />

    <add key="Microsoft.Azure.Workflows.Frontend.IntegrationAccountDirectApiBurstRead.ThrottleThreshold.FreeSku" value="1500" />
    <add key="Microsoft.Azure.Workflows.Frontend.IntegrationAccountDirectApiBurstRead.ThrottleThreshold.BasicSku" value="25000" />
    <add key="Microsoft.Azure.Workflows.Frontend.IntegrationAccountDirectApiBurstRead.ThrottleThreshold.StandardSku" value="25000" />
    <add key="Microsoft.Azure.Workflows.Frontend.IntegrationAccountDirectApiBurstRead.ThrottleThreshold.PremiumSku" value="25000" />

    <add key="Microsoft.Azure.Workflows.Frontend.IntegrationAccountDirectApiBurstWrite.ThrottleThreshold.FreeSku" value="300" />
    <add key="Microsoft.Azure.Workflows.Frontend.IntegrationAccountDirectApiBurstWrite.ThrottleThreshold.BasicSku" value="5000" />
    <add key="Microsoft.Azure.Workflows.Frontend.IntegrationAccountDirectApiBurstWrite.ThrottleThreshold.StandardSku" value="5000" />
    <add key="Microsoft.Azure.Workflows.Frontend.IntegrationAccountDirectApiBurstWrite.ThrottleThreshold.PremiumSku" value="5000" />

    <add key="Microsoft.Azure.Workflows.Frontend.IntegrationAccountDirectApiRequestDownloadContentInKB.ThrottleThreshold.FreeSku" value="3145728" />
    <add key="Microsoft.Azure.Workflows.Frontend.IntegrationAccountDirectApiRequestDownloadContentInKB.ThrottleThreshold.BasicSku" value="3145728" />
    <add key="Microsoft.Azure.Workflows.Frontend.IntegrationAccountDirectApiRequestDownloadContentInKB.ThrottleThreshold.StandardSku" value="3145728" />
    <add key="Microsoft.Azure.Workflows.Frontend.IntegrationAccountDirectApiRequestDownloadContentInKB.ThrottleThreshold.PremiumSku" value="3145728" />
    <add key="Microsoft.Azure.Workflows.Frontend.IntegrationAccountDirectApiRequestUploadContentInKB.ThrottleThreshold.FreeSku" value="3145728" />
    <add key="Microsoft.Azure.Workflows.Frontend.IntegrationAccountDirectApiRequestUploadContentInKB.ThrottleThreshold.BasicSku" value="3145728" />
    <add key="Microsoft.Azure.Workflows.Frontend.IntegrationAccountDirectApiRequestUploadContentInKB.ThrottleThreshold.StandardSku" value="3145728" />
    <add key="Microsoft.Azure.Workflows.Frontend.IntegrationAccountDirectApiRequestUploadContentInKB.ThrottleThreshold.PremiumSku" value="3145728" />

    <add key="Microsoft.Azure.Workflows.Frontend.HealthCheckRequests.ThrottleThreshold" value="32000" />

    <add key="Microsoft.Azure.Workflows.Frontend.FlowDirectApi.ThrottleOverflowCapacityPercentage" value="0" />
    <add key="Microsoft.Azure.Workflows.Frontend.FlowDirectApi.ThrottlePostponeCapacityPercentage" value="50" />
    <add key="Microsoft.Azure.Workflows.Frontend.IntegrationAccountDirectApi.ThrottleOverflowCapacityPercentage" value="0" />
    <add key="Microsoft.Azure.Workflows.Frontend.IntegrationAccountDirectApi.ThrottlePostponeCapacityPercentage" value="50" />

    <add key="Microsoft.Azure.Workflows.Frontend.FlowDirectApi.ThrottleWindowSize" value="00:05:00" />

    <add key="Microsoft.Azure.Workflows.Frontend.IntegrationAccountDirectApi.ThrottleWindowSize" value="00:05:00" />

    <add key="Microsoft.Azure.Workflows.Frontend.RequestsTimeUsageInMilliseconds.ThrottleThreshold" value="30000000" />

    <add key="Microsoft.Azure.Workflows.Frontend.SystemRequest.ThrottleWindowSize" value="00:05:00" />
    <add key="Microsoft.Azure.Workflows.Frontend.SystemRequest.ThrottleOverflowCapacityPercentage" value="0" />
    <add key="Microsoft.Azure.Workflows.Frontend.SystemRequest.ThrottlePostponeCapacityPercentage" value="50" />

    <add key="Microsoft.Azure.Workflows.Frontend.SystemRequestBurstRead.ThrottleThreshold" value="10000" />
    <add key="Microsoft.Azure.Workflows.Frontend.SystemRequestBurstWrite.ThrottleThreshold" value="10000" />
    <add key="Microsoft.Azure.Workflows.Frontend.SystemRequestsTimeUsageInMilliseconds.ThrottleThreshold" value="300000000" />

    <add key="Microsoft.Azure.Workflows.Frontend.AgreementArtifactsQuotaLimit.FreeSku" value="10" />
    <add key="Microsoft.Azure.Workflows.Frontend.AgreementArtifactsQuotaLimit.BasicSku" value="1000" />
    <add key="Microsoft.Azure.Workflows.Frontend.AgreementArtifactsQuotaLimit.StandardSku" value="1000" />

    <add key="Microsoft.Azure.Workflows.Frontend.PartnerArtifactsQuotaLimit.FreeSku" value="25" />
    <add key="Microsoft.Azure.Workflows.Frontend.PartnerArtifactsQuotaLimit.BasicSku" value="1000" />
    <add key="Microsoft.Azure.Workflows.Frontend.PartnerArtifactsQuotaLimit.StandardSku" value="1000" />

    <add key="Microsoft.Azure.Workflows.Frontend.RosettaNetProcessConfigurationArtifactsQuotaLimit.FreeSku" value="10" />
    <add key="Microsoft.Azure.Workflows.Frontend.RosettaNetProcessConfigurationArtifactsQuotaLimit.BasicSku" value="10" />
    <add key="Microsoft.Azure.Workflows.Frontend.RosettaNetProcessConfigurationArtifactsQuotaLimit.StandardSku" value="1000" />

    <add key="Microsoft.Azure.Workflows.Frontend.CertificateArtifactsQuotaLimit.FreeSku" value="25" />
    <add key="Microsoft.Azure.Workflows.Frontend.CertificateArtifactsQuotaLimit.BasicSku" value="1000" />
    <add key="Microsoft.Azure.Workflows.Frontend.CertificateArtifactsQuotaLimit.StandardSku" value="1000" />

    <add key="Microsoft.Azure.Workflows.Frontend.SchemaArtifactsQuotaLimit.FreeSku" value="25" />
    <add key="Microsoft.Azure.Workflows.Frontend.SchemaArtifactsQuotaLimit.BasicSku" value="1000" />
    <add key="Microsoft.Azure.Workflows.Frontend.SchemaArtifactsQuotaLimit.StandardSku" value="1000" />

    <add key="Microsoft.Azure.Workflows.Frontend.MapArtifactsQuotaLimit.FreeSku" value="25" />
    <add key="Microsoft.Azure.Workflows.Frontend.MapArtifactsQuotaLimit.BasicSku" value="1000" />
    <add key="Microsoft.Azure.Workflows.Frontend.MapArtifactsQuotaLimit.StandardSku" value="1000" />

    <add key="Microsoft.Azure.Workflows.Backend.JobBurstExecution.ThrottleWindowSize" value="00:05:00" />
    <add key="Microsoft.Azure.Workflows.Backend.JobBurstExecution.ThrottleOverflowCapacityPercentage" value="100" />
    <add key="Microsoft.Azure.Workflows.Backend.JobBurstExecution.ThrottlePostponeCapacityPercentage" value="100" />

    <add key="Microsoft.Azure.Workflows.SkuExtensions.JobBurstExecutionCountThrottleThreshold.LowOverheadSku" value="1000" />
    <add key="Microsoft.Azure.Workflows.SkuExtensions.JobBurstExecutionCountThrottleThreshold.ConsumptionSku" value="25000" />
    <add key="Microsoft.Azure.Workflows.SkuExtensions.JobBurstExecutionCountThrottleThreshold.HighThroughputSku" value="25000" />

    <add key="Microsoft.Azure.Workflows.Backend.JobSustainedExecution.ThrottleWindowSize" value="01:00:00" />
    <add key="Microsoft.Azure.Workflows.Backend.JobSustainedExecution.ThrottleOverflowCapacityPercentage" value="50" />
    <add key="Microsoft.Azure.Workflows.Backend.JobSustainedExecution.ThrottlePostponeCapacityPercentage" value="50" />

    <add key="Microsoft.Azure.Workflows.Backend.JobExtendedExecutionBillableAction.ThrottleWindowSize" value="1:00:00:00" />
    <add key="Microsoft.Azure.Workflows.Backend.JobExtendedExecutionBillableAction.ThrottlePostponeCapacityPercentage" value="70" />

    <add key="Microsoft.Azure.Workflows.SkuExtensions.JobBurstConsumedContentThrottleThresholdInKB.LowOverheadSku" value="600000" />
    <add key="Microsoft.Azure.Workflows.SkuExtensions.JobBurstConsumedContentThrottleThresholdInKB.ConsumptionSku" value="6000000" />
    <add key="Microsoft.Azure.Workflows.SkuExtensions.JobBurstConsumedContentThrottleThresholdInKB.HighThroughputSku" value="6000000" />

    <add key="Microsoft.Azure.Workflows.SkuExtensions.JobSustainedCompletedContentThrottleThresholdInKB.LowOverheadSku" value="209715200" />
    <add key="Microsoft.Azure.Workflows.SkuExtensions.JobSustainedCompletedContentThrottleThresholdInKB.ConsumptionSku" value="209715200" />
    <add key="Microsoft.Azure.Workflows.SkuExtensions.JobSustainedCompletedContentThrottleThresholdInKB.HighThroughputSku" value="209715200" />

    <add key="Microsoft.Azure.Workflows.SkuExtensions.JobSustainedTimeThrottleThresholdInSeconds.LowOverheadSku" value="28800000" />
    <add key="Microsoft.Azure.Workflows.SkuExtensions.JobSustainedTimeThrottleThresholdInSeconds.ConsumptionSku" value="28800000" />
    <add key="Microsoft.Azure.Workflows.SkuExtensions.JobSustainedTimeThrottleThresholdInSeconds.HighThroughputSku" value="28800000" />

    <add key="Microsoft.Azure.Workflows.SkuExtensions.RecurrentTriggerJobBurstThrottleOverflowCapacityPercentage.LowOverheadSku" value="30" />
    <add key="Microsoft.Azure.Workflows.SkuExtensions.RecurrentTriggerJobBurstThrottleOverflowCapacityPercentage.ConsumptionSku" value="120" />
    <add key="Microsoft.Azure.Workflows.SkuExtensions.RecurrentTriggerJobBurstThrottleOverflowCapacityPercentage.HighThroughputSku" value="120" />

    <add key="Microsoft.Azure.Workflows.SkuExtensions.RecurrentTriggerJobSustainedThrottleOverflowCapacityPercentage.LowOverheadSku" value="30" />
    <add key="Microsoft.Azure.Workflows.SkuExtensions.RecurrentTriggerJobSustainedThrottleOverflowCapacityPercentage.ConsumptionSku" value="120" />
    <add key="Microsoft.Azure.Workflows.SkuExtensions.RecurrentTriggerJobSustainedThrottleOverflowCapacityPercentage.HighThroughputSku" value="120" />

    <add key="Microsoft.Azure.Workflows.SkuExtensions.FlowRunFirstJobBurstThrottleOverflowCapacityPercentage.LowOverheadSku" value="30" />
    <add key="Microsoft.Azure.Workflows.SkuExtensions.FlowRunFirstJobBurstThrottleOverflowCapacityPercentage.ConsumptionSku" value="70" />
    <add key="Microsoft.Azure.Workflows.SkuExtensions.FlowRunFirstJobBurstThrottleOverflowCapacityPercentage.HighThroughputSku" value="70" />

    <add key="Microsoft.Azure.Workflows.SkuExtensions.FlowRunFirstJobSustainedThrottleOverflowCapacityPercentage.LowOverheadSku" value="30" />
    <add key="Microsoft.Azure.Workflows.SkuExtensions.FlowRunFirstJobSustainedThrottleOverflowCapacityPercentage.ConsumptionSku" value="70" />
    <add key="Microsoft.Azure.Workflows.SkuExtensions.FlowRunFirstJobSustainedThrottleOverflowCapacityPercentage.HighThroughputSku" value="70" />

    <add key="Microsoft.Azure.Workflows.SkuExtensions.JobExtendedExecutionBillableActionCountThrottleThreshold.LowOverheadSku" value="150000" />
    <add key="Microsoft.Azure.Workflows.SkuExtensions.JobExtendedExecutionBillableActionCountThrottleThreshold.ConsumptionSku" value="1000000" />
    <add key="Microsoft.Azure.Workflows.SkuExtensions.JobExtendedExecutionBillableActionCountThrottleThreshold.HighThroughputSku" value="1000000" />

    <add key="Microsoft.Azure.Workflows.Backend.JobExtendedExecution.ThrottleWindowSize" value="24:00:00" />
    <add key="Microsoft.Azure.Workflows.Backend.JobExtendedExecution.ThrottlePostponeCapacityPercentage" value="100" />
    <add key="Microsoft.Azure.Workflows.SkuExtensions.JobExtendedExecutionCountThrottleThreshold.LowOverheadSku" value="250000" />

    <add key="Microsoft.Azure.Workflows.FlowResourceGovernanceEngine.SystemThrottlingEnabled" value="false" />

    <add key="Microsoft.Azure.Workflows.FlowRunEngine.NewRunPlatformOptions" value="RunDistributionAcrossPartitions, RepetitionsDistributionAcrossSequencers, RunIdTruncationForJobSequencerIdDisabled" />

    <add key="Microsoft.Azure.Workflows.ThrottlingDisabled" value="true" />
    <add key="Microsoft.Azure.Workflows.MonitoringRegion" value="DevFabric" />
    <add key="Microsoft.Azure.Workflows.RoleLocation" value="DevFabric"/>
    <add key="Microsoft.Azure.Workflows.InternalRoleLocation" value="DevFabric"/>
    <add key="Microsoft.Azure.Workflows.PairedRoleLocation" value="DevFabric" />
    <add key="Microsoft.Azure.Workflows.DirectEndpointScaleUnitPrefix" value="test-"/>
    <add key="Microsoft.Azure.Workflows.AvailableScaleUnits" value="CU00"/>
    <add key="Microsoft.Azure.Workflows.AllocatableScaleUnits" value="CU00"/>
    <add key="Microsoft.Azure.Workflows.AvailabilityGroups" value="SU00"/>
    <add key="Microsoft.Azure.Workflows.AvailabilityGroup.SU00" value="CU00"/>
    <add key="Microsoft.Azure.Workflows.Backend.DispatchedScaleUnits" value="CU00"/>
    <add key="CloudStorageAccount.Workflows.BillingDataStorage.ConnectionString" value="lalalalaal" />
    <add key="CloudStorageAccount.Workflows.RegionalDataStorage.ConnectionString" value="" />
    <add key="CloudStorageAccount.Workflows.HydrationDataStorage.ConnectionString" value="" />
    <add key="CloudStorageAccount.Workflows.PlatformArtifactsContentStorage.ConnectionString" value="" />
    <add key="CloudStorageAccount.Workflows.ScaleUnitsDataStorage.CU00.ConnectionString" value="" />
    <add key="CloudStorageAccount.Workflows.PairedRegion.RegionalDataStorage.ConnectionString" value="" />
    <add key="Microsoft.Azure.Workflows.RoleEncryptionCertificate" value=""/>

    <add key="Microsoft.Azure.Workflows.SkuExtensions.FlowRunTimeout.LowOverheadSku" value="30.00:00:00" />
    <add key="Microsoft.Azure.Workflows.SkuExtensions.FlowRunTimeout.ConsumptionSku" value="90.00:00:00" />
    <add key="Microsoft.Azure.Workflows.FlowRunJob.DelayedRetention" value="1.00:00:00" />

    <add key="Microsoft.Azure.Workflows.ScaleUnit.ArtifactKeywordsMaximumConcurrentOperations" value="2" />

    <add key="Microsoft.Azure.Workflows.ScaleUnit.ContentPersistingAlgorithm" value="None" />
    <add key="Microsoft.Azure.Workflows.ScaleUnit.MaximumCharactersForContentInlining" value="8096" />
    <add key="Microsoft.Azure.Workflows.ScaleUnit.DegenerateCharactersLimitForContentInlining" value="" />
    <add key="Microsoft.Azure.Workflows.FlowRunSequence.GenerateRandomizedSuffix" value="true" />

    <add key="Microsoft.Azure.Workflows.FlowBillingUsageJob.NativeOperation.MeterId" value="nativeMeterId" />
    <add key="Microsoft.Azure.Workflows.FlowBillingUsageJob.StandardConnector.MeterId" value="standardMeterId" />
    <add key="Microsoft.Azure.Workflows.FlowBillingUsageJob.EnterpriseConnector.MeterId" value="enterpriseMeterId" />
    <add key="Microsoft.Azure.Workflows.FlowBillingUsageJob.StorageConsumption.MeterId" value="storageMeterId" />

    <add key="Microsoft.Azure.Workflows.FlowBillingUsageJob.UsageTypeBillingEnabled" value="true" />
    <add key="Microsoft.Azure.Workflows.FlowBillingUsageJob.StorageConsumptionBillingEnabled" value="true" />

    <add key="Microsoft.Azure.Workflows.IntegrationAccount.AllowedSkuNames" value="Free, Basic, Standard" />

    <add key="Microsoft.Azure.Workflows.KustoDataProvider.TenantId" value="72f988bf-86f1-41af-91ab-2d7cd011db47" />
    <add key="Microsoft.Azure.Workflows.KustoDataProvider.KustoDatabase" value="process" />
    <add key="Microsoft.Azure.Workflows.KustoDataProvider.KustoClusterEndpoint" value="" />

    <add key="Microsoft.Azure.Workflows.AppServiceDiagnosticsDataProvider.ServiceUri" value="" />
    <add key="Microsoft.Azure.Workflows.AppServiceDiagnosticsDataProvider.AuthenticationAudience" value="https://microsoft.onmicrosoft.com/appservice-diagnostics-server-prod" />
    <add key="Microsoft.Azure.Workflows.AppServiceDiagnosticsDataProvider.EnableSupport" value="true" />

    <add key="Microsoft.Azure.Workflows.FlowTriggerUsageAggregationJob.Enabled" value="true" />

    <add key="Microsoft.Azure.Workflows.OpenApiConnection.CommonDataServiceHostNameSuffix" value="dynamics.com" />
    <add key="Microsoft.Azure.Workflows.OpenApiConnection.CommonDataServiceForAppsApiName" value="commondataserviceforapps" />
    <add key="Microsoft.Azure.Workflows.OpenApiConnection.CommonDataServiceRegions" value="crm" />
    <add key="Microsoft.Azure.Workflows.OpenApiConnection.CommonDataServiceRegions.crm.OverriddenMetadataEndpoint" value="https://localhost.com" />
    <add key="Microsoft.Azure.Workflows.OpenApiConnection.CommonDataServiceRegions.crm.OverriddenApiManagementAccount" value="test" />

    <add key="Microsoft.Azure.Workflows.DeploymentRegion" value="DevFabric" />
    <add key="Microsoft.Azure.Workflows.DeploymentRegionCode" value="Dev" />

    <add key="Microsoft.Azure.Workflows.FunctionApp.ApplicationInsightsInstrumentationKey" value="abc" />
    <add key="CloudStorageAccount.Flow.FunctionAppsRuntimeStorage.ConnectionString" value="" />
    <add key="CloudStorageAccount.Flow.FunctionAppsSecretStorage.ConnectionString" value="" />
    <add key="Microsoft.Azure.Workflows.FunctionApp.Runtime.AppServicePlanEnabled" value="false" />
    <add key="Microsoft.Azure.Workflows.FunctionApp.Runtime.Sku" value="Dynamic" />
    <add key="Microsoft.Azure.Workflows.FunctionApp.FunctionAppsContentContainerName" value="functionappscontent" />
    <add key="Microsoft.Azure.Workflows.FunctionApp.FunctionsExtensionVersion" value="~1" />
    <add key="Microsoft.Azure.Workflows.FunctionApp.FunctionsV2ExtensionVersion" value="~2" />
    <add key="Microsoft.Azure.Workflows.FunctionApp.ContainerSizeInMegaBytes" value="1024" />
    <add key="Microsoft.Azure.Workflows.FunctionApp.JavaScriptCode.Version" value="1.0" />
    <add key="Microsoft.Azure.Workflows.FunctionApp.JavaScriptCode.NodeVersion" value="8.11.1" />
    <add key="Microsoft.Azure.Workflows.FunctionApp.InlineCode.ContainerSizeInMegaBytes" value="1024" />
    <add key="Microsoft.Azure.Workflows.FunctionApp.Runtime.AlwaysOn" value="false" />

    <add key="Microsoft.Azure.Workflows.FlowDnsZoneManagementEngine.DnsZoneName" value="testdnszone" />
    <add key="Microsoft.Azure.Workflows.FlowDnsZoneManagementEngine.SubscriptionId" value="myedgeenvironment" />
    <add key="Microsoft.Azure.Workflows.FlowDnsZoneManagementEngine.ResourceGroup" value="testdnszoneresourcegroup" />

  </appSettings>
</configuration>
